/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

:root {
    --colorPrimary: #645cff;
    --colorPrimaryDark: #3c3799;
    --colorGrey: #64748b;
    --colorGreyLight: #f1f5f9;
    --colorGreyDark: #0f172a;
    --black: #222;
    --white: #fff;
    --fluid-width: 90vw;
    --max-width: 1170px;
    --letter-spacing: 2px;
    --border-radius: 0.15rem;
    --shadow-light: 0 5px 15px rgba(0, 0, 0, 0.3);
    --shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.5);
    --transition: 0.3s ease-in-out all;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* NAVIGATION */
/* ==================================================================================================== */

.nav {
    height: 5rem;
    background-color: var(--black);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
}

.nav-icon {
    color: white;
    transform: scale(1.6);
    margin-left: 10px;
    position: relative;
    bottom: 7px;
}

/* HERO */
/* ==================================================================================================== */

.hero {
    min-height: calc(100vh - 5rem);
    background: rgb(105, 62, 27);
    position: relative;
}

.hero-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 5rem 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-center h1 {
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
}

.hero-center p {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    max-width: 35em;
}

.hero-text {
    animation: slideFromTop 3s ease-in-out;
}

.hero-btn {
    background: transparent;
    border: 1px solid white;
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    animation: slideFromBottom 3s ease-in-out;
    transition: all 0.2s linear;
}

.hero-btn:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background: linear-gradient(to right, rgba(105, 62, 27, 0.5), rgba(105, 62, 27, 1)), url('./images/hero.jpg') center/cover;
    }
}

/* BLOGS */
/* ==================================================================================================== */

.blogs {
    padding: 2rem 0;
    color: #222;
    background: var(--white);
}

.section-title {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    margin-bottom: 2rem;
}

.blogs-center {
    width: var(--fluid-width);
    max-width: 600px;
    margin: 0 auto;
}

.blog {
    background: var(--white);
    padding: 0.75rem;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    box-shadow: var(--shadow-light);
    transition: 0.1s all linear;
}

.blog:hover {
    box-shadow: var(--shadow-dark);
}

.blog-img {
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
}

.blog-content {
    padding-bottom: 1rem;
}

.blog-content span {
    text-transform: uppercase;
    color: var(--colorPrimary);
    letter-spacing: var(--letter-spacing);
    font-weight: 500;
}

.blog-content h3 {
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
}

.blog-content p {
    color: var(--colorGrey);
    margin-bottom: 0.5rem;
}

.blog-content a {
    text-transform: capitalize;
    color: var(--colorPrimaryDark);
    letter-spacing: 1px;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .blogs-center {
        max-width: 1200px;
    }

    .blog {
        float: left;
        width: 45%;
        margin: 2.5%;
    }

    .blog-content h3 {
        max-width: 300px;
    }
}
/* END */
/* ==================================================================================================== */
